body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  background-color:aliceblue;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: whitesmoke;
  border-left: 5px solid white;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color:rgb(46, 46, 90);
  border-radius: 0;
  border-bottom: 10px solid rgb(46, 46, 90);
}

.display-3 {
  text-shadow: grey 3px 3px;
  color: rgb(46, 46, 90)
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  border-top: 2px solid white;
}

.hour {
  background-color: rgb(46, 46, 90);
  color: whitesmoke;
  text-align: center;
}

.past {
  background-color: #d3d3d3;
  color:rgb(46, 46, 90);
}

.present {
  background-color: #ff6961;
  color: rgb(46, 46, 90);
}

.future {
  background-color: #77dd77;
  color: rgb(46, 46, 90);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:rgb(46, 46, 90);
  color: white;
}

.saveBtn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.bottom {
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
}

.saveAll {
  background: rgb(46, 46, 90);
  color: whitesmoke;
  border-radius: 5px 5px;
}

.saveAll:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.clear {
  background: rgb(46, 46, 90);
  color: whitesmoke;
  border-radius: 5px 5px;
}

.clear:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



 

